
/* begin header */

/* Stijlen voor schermen breder dan 768 pixels */
header {
  background-color: #26508F;
  padding: 20px;
}

.logo {
  font-size: 32px;
  color: #fff;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:last-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li.dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li.dropdown:hover ul {
  display: block;
}

nav ul li.dropdown ul li {
  margin: 5px 0;
}

nav ul li.dropdown ul li:last-child {
  margin-bottom: 0;
}

nav ul li.dropdown ul li a {
  color: #333;
}

nav ul li.dropdown ul li a:hover {
  color: #26508F;
}

#dropdown-inloggen {
  font-weight: bold;
}

#mijnForm {
  margin-top: 10px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#overlay p {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* einde header */

/* Media query voor schermen smaller dan 768 pixels */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  .logo {
    font-size: 24px;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  nav ul li:last-child {
    margin-bottom: 0;
  }

  nav ul li a {
    display: block;
    padding: 10px;
    background-color: #26508F;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }

  nav ul li a:hover {
    background-color: #fff;
    color: #26508F;
  }

  nav ul li.dropdown ul {
    position: static;
    display: none;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }

  nav ul li.dropdown:hover ul {
    display: block;
  }

  nav ul li.dropdown ul li {
    margin: 0;
  }

  nav ul li.dropdown ul li:last-child {
    margin-bottom: 5px;
  }

  nav ul li.dropdown ul li a {
    color: #fff;
  }
}
/* einden header */


  /* main  */
  /* form inlog */


/* Geef het formulier een witte achtergrond en een breedte van 400px */
#login-form  {
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Maak de labels vetgedrukt */
#login-form  label {
  font-weight: bold;
}

/* Geef de invoervelden een grijze achtergrond, witte tekst en afgeronde hoeken */
#login-form input[type="text"],
#login-form input[type="password"] {
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Geef de submitknop een donkerblauwe achtergrond, witte tekst en afgeronde hoeken */
#login-button {
  background-color: #26508F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Geef de submitknop een 3D-effect wanneer erop wordt gehoverd */
#login-button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}



  
  /* eind form inlog */
  main {
    flex: 1;
  }
  /* einde main */
  /* begin footer */
  footer {
    background-color: #26508F;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    margin-top: auto;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-row {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-col {
    flex-basis: 50%;
    text-align: center;
  }
  
  .footer-col-1 {
    text-align: left;
  }
  
  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #222;
  }
  
  @media (max-width: 768px) {
    .footer-row {
      flex-direction: column;
    }
    .footer-col {
      flex-basis: 100%;
      text-align: center;
    }
    .footer-col-1 {
      text-align: center;
    }
    .footer-links {
      justify-content: center;
    }
  }
  /* einde footer  */
  table {
    border-collapse: collapse;
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10%;
  }
  th, td {
    text-align: left;
    padding: 6px;
    font-size: 14px;
  }
  th {
    background-color: #333;
    color: #fff;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Media query voor kleinere schermen */
  @media only screen and (max-width: 600px) {
    table {
      width: 100%;
    }
    th, td {
      text-align: center;
      padding: 4px;
      font-size: 12px;
    }
    th {
      font-size: 12px;
    }
  }


  /* begin product pagina*/
body{
  height: 100%;
  width: 100%;
}


  /* eind product pagina*/