
/*font van website */
*{
  font-family: 'Roboto', sans-serif;
}
/* begin header */

/* stijl voor de header */
header {
  background-color: #26508F;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #304ffe ;
  color: #fff;

  padding: 15px;
}

 header  img .logo{
height: 4vh;
width: auto;

}
.logo img {
padding: 0;
  height: 15vh;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #FFF;
  text-decoration: none;
}

nav ul li {
  margin: 0 10px;
  position: relative;
}

nav ul li a, nav ul a {
  color: #FFF;
  text-decoration: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li ul {
  background-color: #FFF;
  display: none;
  position: absolute;

  z-index: 1;
  background-color: #304ffe;

  top: 100%;
  left: 0;
  width: 200px;

}

nav ul li ul li {
  margin: 0;
}

nav ul li ul li a {
  color: #333;
}

#dropdown-inloggen {
  color: #26508F;
  font-weight: bold;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#overlay p {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* einde header */

/* Media query voor schermen smaller dan 768 pixels */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  .logo {
    font-size: 24px;
  }
}
@media only screen and (max-width: 600px) {
  nav ul {
    display: none;

  }

  nav ul li {
    margin: 10px 0;
  }

 

  .menu-toggle {
    cursor: pointer;
    display: block;
    padding: 10px;
  }

  .menu-toggle:hover {
    background-color: #FFF;
  }

  .menu-toggle span {
    background-color: #FFF;
    display: block;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    width: 20px;
  }

  .menu-toggle span:nth-child(2) {
    margin-bottom: 0;
  }

  .menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }

  .menu-toggle.active + nav ul {
    display: block;
  }
}


/* einden header */

  /* main  */
  #cookie-popup {
    display: none;
    position: fixed;
    bottom: calc(100vh - 50%);
    left: calc(100vw - 50% - 100px);
    right: 0;
    z-index: 10;
    padding: 20px;
    width: 200px;
    /* background-color: #f1f1f1; */
    background-color: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
 
#cookie-popup p {
    margin: 0;
}

#cookie-popup button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cookie-popup button:hover {
    background-color: #3e8e41;
}

  /* Footer verbeterd */


  footer {
    background-color: #26508F;
    color: #fff;
    padding: 20px;
    
  }
  
  .footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-col {
    flex-basis: 30%;
  }
  
  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  .footer-links li {
    margin: 10px 0;
  }
  
  .social-media-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .social-media-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media-links li:last-child {
    margin-right: 0;
  }
  
  .social-media-links a {
    color: #fff;
    font-size: 20px;
  }
  
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-twitter {
    background: #55acee;
    color: white;
  }
  
  .fa-instagram {
    background: #ea4c89;
    color: white;
  }

/* Geef het formulier een witte achtergrond en een breedte van 400px */
#login-form  {
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Maak de labels vetgedrukt */
#login-form  label {
  font-weight: bold;
}

/* Geef de invoervelden een grijze achtergrond, witte tekst en afgeronde hoeken */
#login-form input[type="text"],
#login-form input[type="password"] {
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Geef de submitknop een donkerblauwe achtergrond, witte tekst en afgeronde hoeken */
#login-button {
  background-color: #090a0a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Geef de submitknop een 3D-effect wanneer erop wordt gehoverd */
#login-button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}



  
  /* eind form inlog */
  
 
  form {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  
  /* Stijlen voor formuliergroepen */
  .form-group {
    margin-bottom: 10px;
  }
  
  /* Stijlen voor labels */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Stijlen voor invoervelden */
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #444;
  }
  
  /* Stijlen voor toevoegenknop */
  .btn-toevoegen {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Stijlen voor toevoegenknop bij hover */
  .btn-toevoegen:hover {
    background-color: #3e8e41;
  }
  article {
    max-width: 500px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

section {
    margin: 10px 0;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

  
  a:hover {
    color: #222;
  }
  
  @media (max-width: 768px) {
    .footer-row {
      flex-direction: column;
    }
    .footer-col {
      flex-basis: 100%;
      text-align: center;
    }
    .footer-col-1 {
      text-align: center;
    }
    .footer-links {
      justify-content: center;
    }
  }
  /* einde footer  */
  table {
    border-collapse: collapse;
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10%;
  }
  th, td {
    text-align: left;
    padding: 6px;
    font-size: 14px;
  }
  th {
    background-color: #333;
    color: #fff;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Media query voor kleinere schermen */
  @media only screen and (max-width: 600px) {
    table {
      width: 100%;
    }
    th, td {
      text-align: center;
      padding: 4px;
      font-size: 12px;
    }
    th {
      font-size: 12px;
    }
  }


  /* begin product pagina*/
body{
  height: 100%;
  width: 100%;
}


  /* eind product pagina*/
/* contact formulier css */


.container-contact {
display: flex;
justify-content: center;
top: 15vh;
text-align: center;
width: 30vw;

}


.form-container-contact {
  flex: 1;
  padding: 20px;
}



label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
/* CSS van de input (Invul plekken) zones van het contact formulier */

input[type=text], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;

}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=email], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
} 

/* Responsive CSS van de contact formulier en de tekst ernaast */


@media only screen and (max-width: 650px){
  .container-contact{
    display:block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  /* Tekst */

  .content-contact {
    flex: 1;
    padding: 20px;
    text-align: justify;
    margin-top:5vh;
  }
  
  .form-container-contact {
    flex: 1;
    padding: 20px;
  }
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  input[type=text], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  input[type=email], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  } 
}

  /* begin producten pagina */
  #producten_body{
    height: 100vh;
    width: 100%;
    background-color: black;
    margin: 0rem;
  }
  #image-track .image{
    width: 40vmin;
    height: 56vmin; 
    object-fit: cover;
    object-position: center;
  }
  #image-track{
    display: flex;
    gap: 4vmin;
    /* position: absolute; left: 50%; top: 50%; transform: translate(0%, -50%); */
    overflow: hidden;
    overflow-x: scroll;
  }
  #image-track::-webkit-scrollbar{
    display: none;
  }
  /*einde producten pagina*/




  .aanbieding {
    
    margin-top: 10vh;
    margin-left: 10vw ;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 30vw;
    margin-bottom: 4vh;
    
    
  }
  .titel {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .datum {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
  }
  .omschrijving {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .afbeelding {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
  }


  /** CSS code van producten_info / producten die opgehaald worden uit de SQL **/ 
  .informatie-energy-producten{

 
   height:27.5vh;
   margin-left:10vw;
  }
  .product-info-image {
    width: 25vw;
    height:30vh;
   margin-top:10vh;
   margin-left:-13vw;
   
  }

  .producten_informatie_sql{
    
    display:flex;
    margin-top:5vh;
    margin-left:7.5vw;
    margin-right:7.5vw;
    margin-bottom:5vh;
  }

  .informatie-energy-ingredienten{
 margin-bottom:50px;
 
 
  }
  .box-producten-informatie-image-alles{
    margin-top:10vh;
    margin-left:10vw;
    margin-right:10vw;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
background-color: rgba(192,192,192,0.3);

  }
  .producten-achtergrond{
    background-color: #26508F;
   
  }

  .ingredienten-producten{
    font-size:0.9rem;
   
  }

  .box-ingredienten{
    width:200%;
    
  }
  .smaak-titel{
    font-size:2rem;
    
  }

  .short-bericht-onder-titel{
    margin-left:-4vw;
    width:15vw;
    height:50%;
    
  }




  /* CSS van informatie pagina over de evenementen met de 3 aankomende evenementen */

  .uitgelichte-title{
    display:flex;
    justify-content: center;
    font-size: 2rem;

  }

  .container-top3 {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
  }
.box-top3 {
  
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(216, 204, 186, 0.586);
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: justify;
    margin-top:3vh;

}
.box-top3 h2 {
    margin-top: 0;
}
.box-top3 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@media screen and (max-width: 780px) {
    .box-top3 {

      width: calc(100% - 20px);
      
        
    }
}




.container-gesorteerd {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content:flex-end;
  width:25%;
  margin: 0 auto; 
  margin-top:10vh;
}

.box-gesorteerd {

  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(85, 83, 81, 0.586);
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: justify;
  margin-top:3vh;

}
.box-gesorteerd h2 {
  margin-top: 0;
}
.box-gesorteerd img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .container-gesorteerd {
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-top: 5vh;
  }
  .box-gesorteerd {
  flex-basis: 45%;
  margin: 5px;
  }
  }


#sort{
  width:8vw;
  
}
.button-sorteer{
  width:8vw;
}
.formulier-sorteren{
  
background-color: white;
border: none;
float:right;
}


@media screen and (max-width: 780px) {
  .formulier-sorteren {

    width: 50vw;
    
      
  }
  .button-sorteer{
    width:25vw;
  }
  #sort{
    width:25vw;
    
  }
}

/* Logo van de website die in de header staat */

.logo{
  width:5vw;
  height:8vh;
}


/* Artiesten pagina css */

.artiesten-info-k{
 width:50%;
 margin-bottom:5vh;
}
@media screen and (max-width: 780px) {
.artiesten-info-k{
  width:100%;
}
}


.selfie-artiest{
  width:250px;
  height:250px;
}

.artiesten-info{
 margin-bottom:30px;
  margin-left:33%;
 
}
@media screen and (max-width: 780px) {
  .artiesten-info{
    width:100%;
  }
  }
  



  /** over ons styling */

  h1 {
    margin: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    float: left;
  }
  
  .about-text {
      text-align: center;
      
  }
